.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.header_area {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 99;
  background: #074753;
  background: linear-gradient(to right, #7773ff, #7fb1ff, #87ebff);
}

.navigation-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main_menu {
  margin-right: 12.5%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  background: #f2f2f2;
  color: #323232;
}

.home-icon {
  margin-right: 3px;
  padding: 1.5px;
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
}

a {
  color: #323232;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.home-container {
  max-width: 70%;
  margin: 7% auto;
  padding: 1%;
  background: white;
  box-shadow: 0 2px 4px rgba(12, 33, 80, 0.226);
}

p {
  margin: 6%;
  margin-left: 0%;
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 24px 0;
  border-bottom: 1px solid lightgrey;
}

img.avatar {
  width: 570px;
}

.home-my-name {
  margin: 20px;
  margin-left: 0px;
  font-size: 48px;
  line-height: 1;
}

.home-my-title {
  font-size: 16px;
  font-weight: 300;
  color: black;
}

.home-links {
  display: flex;
  margin: 6px 0 16px 0;
}

.home-link-item {
  margin: 5px;
  display: flex;
  align-items: center;
  flex: 1 1;
}

home-link-item-tel {
}

.buttons-list {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  align-self: center;
}

.buttons {
  color: white;
}

img {
  vertical-align: middle;
  border-style: none;
}

.job {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid lightgrey;
}

.experience-section-title {
  margin: 8%;
  font-weight: bold;
  font-size: 1.4em;
}
.job:last-child {
  border-bottom: none;
}

.link-item svg {
  margin-right: 8px;
}

.experience-container {
  max-width: 70%;
  margin: 7% auto;
  padding: 1%;
  background: white;
  box-shadow: 0 2px 4px rgba(12, 33, 80, 0.226);
}
.job-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 18px;
}

.job-company {
  font-weight: bold;
  line-height: 1.2;
}
